<table class="table table-striped">
    <thead>
    <th scope="col">Creationdate</th>
    <th scope="col">Body</th>
    <th scope="col">Title</thscope="col">
    <th scope="col">Tags</thscope="col">
        </thead>
<tbody data-bind="foreach: posts">
        <tr>
            <td><span data-bind="text: creationdate"></span></td>
            <td><span data-bind="text: body"></span></td>
            <td><span data-bind="text: title"></span></td>
            <td><span data-bind="text: tags"></span></td>
        </tr>
    </tbody>
</table>