<form class="form-group" data-bind="submit: getPosts">
    Question:
    <input class="form-control" data-bind="value: termToFind, valueUpdate: 'afterkeydown'" />
    <button class="btn btn-dark" type="submit" data-bind="enable: checkTerm() != false">Search</button>
</form>

<div>
    <div data-bind="hidden: checkPost() != true">
        <select data-bind="value: setSize">
            <option value="1">1</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="all">All</option>
        </select>
    </div>
    <div data-bind="foreach: posts">
        <table class="table">
            <tr>
                <th data-bind="text: id"></th>
                <td data-bind="text: title"></td>
                <td data-bind="text: body"></td>
            </tr>
        </table>
    </div>
    <div>
        <nav>
            <a href="#" data-bind="click: previousSet">Previous</a>
            <a href="#" data-bind="click: nextSet">Next</a>
        </nav>
    </div>
</div>