<form class="form-group" data-bind="submit: getPosts">
    Question:
    <input class="form-control" data-bind="value: termToFind, valueUpdate: 'afterkeydown'" />
    <select data-bind="value: currentSearchType">
        <option value="inBody">inBody</option>
        <option value="inTitle">inTitle</option>
        <option value="inTags">inTags</option>
    </select>
    <button class="btn btn-dark" type="submit" data-bind="enable: checkTerm() != false">Search</button>
</form>

<div>
    <div data-bind="visible: posts().length > 0">
        <select data-bind="value: setSize">
            <option value="1">1</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="all">All</option>
        </select>
    </div>
    <div data-bind="foreach: posts">
        <div style="border: 4px solid #7A7A7A;" data-bind="click: showF" id="postContent">
            <b style="display: inline-block; margin-left: 10px;">ID: </b>
            <p style="display: inline-block;"><span data-bind="text: id"></span></p>
            <b style="display: inline-block;">Title: </b>
            <p style="display: inline-block;"><span data-bind='text: title, visible: title != null'></span><span data-bind='visible: title == null'>None</span></p>
            <b style="display: inline-block;">Tags: </b>
            <p style="display: inline-block;"><span data-bind='text: tags, visible: tags != null'></span><span data-bind='visible: tags == null'>None</span></p>
            <b style="display: inline-block;">Creation date: </b>
            <p style="display: inline-block;"><span data-bind="text: creationdate"></span></p>
            <b style="display: inline-block;" data-bind="visible: showFull">Body: </b>
            <p style="display: inline-block;" data-bind="visible: showFull"><span data-bind="html: body"></span></p>
        </div>
    </div>
    <div>
        <nav data-bind="visible: posts().length > 0">
            <a href="#" data-bind="click: previousSet, visible: currentSet() > 0">Previous</a>
            <p>Set: <span data-bind="text: currentSet()+1"></span> of <span data-bind="text: numberOfPostSets()+1"></span></p>
            <a href="#" data-bind="click: nextSet, visible: currentSet() < numberOfPostSets()">Next</a>
        </nav>
    </div>
</div>