<div>
    <div>
        Word: <input data-bind="value: word, valueUpdate: 'afterkeydown'" />
    </div>
    <div>
        <button data-bind="click: addWord, enable: checkInput() != false">Add</button>
        <button data-bind="click: resetCloud">reset WordCloud</button>
        <button data-bind="click: updateCloud">update WordCloud</button>
    </div>
</div>
<div id="bootLegWordCloud" style="border: 2px solid black"></div>
<div data-bind="foreach: words">
    <table>
        <tr>
            <th>Word:</th>
            <td><span data-bind="text: text"></span></td>
            <th>Weight:</th>
            <td><span data-bind="text: weight"></span></td>
        </tr>
    </table>
</div>
